<%- model_class = Nodo -%>
<div class="page-header">
  <h2><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "Nuevo #{model_class.model_name.human}") %></h2>
</div>
<%= render :partial => 'form' %>
