  
<% if @vacas_en_celo.any? %>
 <div class="span11"> 
  <div class="page-header">
  <h4>Vacas en Celo - detectadas ultimos 7 dias</h4>
 </div>

  <div class="span9">
  
  <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Vaca</th>
      <th>Comienzo</th>
    </tr>
  </thead>
    <tbody>
      <% @vacas_en_celo.each do |vaca| %>
      <tr>
        <td><%= vaca.caravana %></td>
        <td><%= vaca.celos.first.comienzo.strftime("%d/%m %H") %> hrs</td>
      </tr>
      <% end%>
  </tbody>
 </table>
</div>
</div>
<% end %>
  <div class="span11"> 
    <div class="page-header">
     <h4>Historial de Celos</h4>
    </div>
   
    <div id='hist_chart'></div>
      <%= high_chart("hist_chart",@hist_chart) %>
  </div>




