  
<div class="page-header">
    <h4>Historial de Celos</h4>
</div>
   
  <div class="span11"> 
      <div id='hist_chart'></div>
        <%= render_chart(@hist_chart, 'hist_chart') %>
  </div>

<% if @celos.any? %>
 <div class="span11"> 
  <div class="page-header">
  <h4>Vacas en Celo - detectadas ultimos 7 dias</h4>
 </div>

  <div class="span9">
  
  <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Vaca</th>
      <th>Comienzo</th>
    </tr>
  </thead>
    <tbody>
      <% @celos.each do |celo| %>
      <tr>
        <td><%= celo.vaca_id %></td>
        <td><%= celo.comienzo.strftime("%d/%m %H") %> hrs</td>
      </tr>
      <% end%>
  </tbody>
 </table>
</div>
</div>

 <% end %>



